.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__user-name sk
      %ul.side-header__box__menu
        %li.side-header__box__menu__new-group
          %a{:href => "/groups/new"}
            %i.fa.fa-cog
  .groups
    %a{:href => "#"}
      .group
        %p.group__group-name test
        %p.group__latest-message まだメッセージがありません
    %a{:href => "#"}
      .group
        %p.group__group-name 太郎
        %p.group__latest-message まだメッセージがありません
