.chat-side
  .side-header
    .side-heder__box
      %p.side-heder__box_user-name
      %ul.side-heder__box__menu
        %li.side-header__box__menu__new-group
          = linl_to "#"
            = icon('fa', 'fa-edit')
        %li.side-header__box__menu__edit-user
          = linl_to "#"
            = icon('fa', 'fa-cog')
            
  .groups